<h1>Shipment</h1>
<div *ngFor="let i of ships; ">
    <div >{{i.ref}} {{i.status}}
        <div [ngSwitch]="i.status">
            <div *ngIf="showmore == i.ref;">
            <h2>status: {{i.status}}</h2>
            <h3>order : #{{i.ref}}</h3>
            <h2>Items:</h2>
            <p>{{i.items | pretty}}</p>
            <h2>Shipment:</h2>
            <p>{{i.shipment | pretty}}</p>
            <h2>Packages</h2>
            <p>{{i.packages | pretty}}</p>
        </div>
        <button *ngSwitchCase="'pending'" (click)="carrier(i.ref)">Picked up by the carrier</button>
        <button (click)="decline(i.ref)">Decline</button>
        <button *ngSwitchCase="'Picked up by the carrier'" (click)="customer(i.ref)">Received by the customer</button>
        <button *ngSwitchCase="'Received by the customer'" (click)="pay(i.ref)">Payed by the customer</button>
        <button *ngSwitchCase="'Payed by the customer'" disabled>Payed</button>
        <button *ngIf="showmore!=i.ref" (click)="showmore = i.ref;">see details...</button>
        <button *ngIf="showmore==i.ref" (click)="showmore = 0;">see less details...</button>
        </div>
    </div>